{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

    <body>
        <div>
            <form action="{% url 'edit' title %}" method="post" encrypte="multipart/form-data">
                {% csrf_token %}
                    <textarea name="content" id="content" rows="2" cols="3">{{ content }}</textarea>
                </div>
                <div>
                    <button type="submit">Save Entry</button>
                </div>
            </form>
        </div>
    </body>

{% endblock %}